<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://127.0.0.1:8000/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>Diploma</title>
    </head>
    <body>
        <section class="diploma">
            <div class="container">
                <div style="height: 5%;"></div>
                <div class="diploma-title">CERTIFICATE</div>
                <div class="diploma-header"><span style="color:#2d9cdb;">L</span>EARN <span style="color:#f2c94c">P</span>YTHON</div>
                <div class="diploma-text" style="margin-top: 5%">Current certificate confirms that</div>
                <div class="diploma-block">
                    <div class="diploma-block__item" style="text-align: right">{{ surname }}</div>
                    <div class="diploma-block__item" style="text-align: left; padding-left: 10px;">{{ name }}</div>
                </div>
                <div class="diploma-text">successfully finished LearnPython Course.</div>
                <div class="diploma-text" style='margin-top: 3%'>Issued: <span style="color:#2d9cdb; font-weight: 600;">{{ date }} г.<span></div>
                <div class="diploma-signatures">
                    <div class="diploma-signatures__item">
                        <img src="http://127.0.0.1:8000/static/img/Лебедев.png" style="width: 150px; height: 150px;">
                        <div class="diploma-signatures__item-text">I.Lebedev</div>
                    </div>
                    <div class="diploma-signatures__item">
                        <img src="http://127.0.0.1:8000/static/img/Корнеев.png" style="width: 150px; height: 150px;">
                        <div class="diploma-signatures__item-text">M.Korneev</div>
                    </div>
                    <div class="diploma-signatures__item">
                        <img src="http://127.0.0.1:8000/static/img/Филонов.png" style="width: 150px; height: 150px;">
                        <div class="diploma-signatures__item-text">V.Filonov</div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>